html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    scroll-behavior: smooth;

}

.container {
    transform: translateY(12vh);

}

.container>.blogs-container>h1 {
    font-size: 3rem;
    font-weight: 500;
    margin: 10px;
    font-family: fantasy;
    text-align: center;
    padding: 12rem;
}


.hero-section {
    max-height: 50vh;
    min-height: 30vh;
    height: auto;
    width: 100%;
    background-image: url(../assets/hero-swagsters.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero-section>.hero-section__content {
    display: flex;
    background: rgba(0, 0, 0, 0);
    flex-direction: column;
    padding: 2rem;
    color: white;
    box-sizing: border-box;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.hero-section>.hero-section__content>.hero-logo {
    width: 100px;
    height: 100px;
}


.hero-section>.hero-section__content>.hero-section__title {
    font-size: 3rem;
    margin: 10px;
    font-weight: 500;
}

.hero-section>.hero-section__content>.hero-section__text {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 5px 0 30px 0;
    font-family: fantasy;
}

.hero-section>.hero-section__content>a>.hero-section__button {
    background-color: #f1a700;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    padding: 30px;
    width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.blog-container>.blog-image {
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;

}

.blog-container>.blog-image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}


@media screen and (max-width: 768px) {
    .blog-container {
        width: 100%;
        margin: 0;
        box-sizing: border-box;

        padding: 10px;
    }
}

.blog-container>.blog-title {
    font-size: 3rem;
    font-weight: 500;
    text-align: left;
    margin: 10px;
    width: 100%;
}

.blog-container>.blog-date {
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
    width: 100%;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.blog-container>.blog-author {
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
    width: 100%;
    margin: 5px;
}

.blog-author>.author-name {
    font-weight: 500;
    color: #ffb300;
    font-family: cursive;
}

.blog-container>.blog-content {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: left;
    width: 100%;
    margin: 10px 5px;
    /* border: 1px solid #c4c4c4; */
    border-radius: 4px;
}

iframe,
img,
video {
    max-width: 90vw;
}