html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    scroll-behavior: smooth;

}

.container {
    transform: translateY(12vh);

}

.hero-section {
    height: 30vh;
    width: 100%;
    background-image: url('https://t4.ftcdn.net/jpg/05/08/80/19/360_F_508801991_UTsCAOorx25USitqonfRADueJlzyjhDq.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero-section>.hero-section__content {
    display: flex;
    background: rgba(0, 0, 0, 0.2);
    flex-direction: column;
    padding: 10px;
    color: white;
    box-sizing: border-box;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.hero-section>.hero-section__content>.hero-logo {
    width: 100px;
    height: 100px;
}


.hero-section>.hero-section__content>.hero-section__title {
    font-size: 3rem;
    margin: 10px;
    font-weight: 500;
}

.hero-section>.hero-section__content>.hero-section__text {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 5px 0 30px 0;
    font-family: fantasy;
}

.hero-section>.hero-section__content>a>.hero-section__button {
    background-color: #f1a700;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.contact-us-form-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.contact-us-form-container>.contact-us-form {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-us-form-container>.contact-us-form>.field-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.contact-us-form-container>.contact-us-form>.field-container>label {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.contact-us-form-container>.contact-us-form>.field-container>input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 300;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.contact-us-form-container>.contact-us-form>.field-container>input:focus {
    border-color: #f1a700;
}

.contact-us-form-container>.contact-us-form>.field-container>textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 300;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.contact-us-form-container>.contact-us-form>.field-container>textarea:focus {
    border-color: #f1a700;
}

.contact-us-form-container>.contact-us-form>button {
    background-color: #f1a700;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}