html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    scroll-behavior: smooth;

}

.container {
    transform: translateY(12vh);

}

.hero-section {
    height: 40vh;
    width: 100%;
    background-image: url('https://www.somindra.in/images/Services.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero-section>.hero-section__content {
    display: flex;
    background: rgba(0, 0, 0, 0);
    flex-direction: column;
    padding: 10px;
    color: white;
    box-sizing: border-box;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.hero-section>.hero-section__content>.hero-logo {
    width: 100px;
    height: 100px;
}


.hero-section>.hero-section__content>.hero-section__title {
    font-size: 3rem;
    margin: 10px;
    font-weight: 500;
}

.hero-section>.hero-section__content>.hero-section__text {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 5px 0 30px 0;
    font-family: fantasy;
}

.hero-section>.hero-section__content>a>.hero-section__button {
    background-color: #f1a700;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.services-container {
    display: grid;
    padding: 20px;
    box-sizing: border-box;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}


@media screen and (max-width: 768px) {
    .services-container {
        grid-template-columns: auto;
    }
}



.flip-card {
    background-color: transparent;
    width: auto;
    height: 400px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    border-radius: 30px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid #f1f1f1;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
    background-image: url(../assets/hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

.flip-card-front>.backdrop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 5px;

}

.flip-card-front>.backdrop>h1 {
    font-size: 3.5rem;
    font-weight: 800;
    margin: 10px;
    text-align: center;
}

/* Style the back side */
.flip-card-back {
    background-color: rgb(0, 0, 0);
    color: white;
    transform: rotateY(180deg);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flip-card-back>p {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 5px 0 30px 0;
    font-weight: 500;
    /* font-family: fantasy; */
}